# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=4e224517-311e-4283-8d14-b09ff1fd1adb

    # Set to true to disable all reporting
    B:opt-out=false
}


